* {
  padding: 0px;
  margin: 0px;
  }
.attribution {
     font-size: 11px;
     text-align: center;
   }
.attribution a {
    color: hsl(228, 45%, 44%);
  }
  html {
    max-width: 1440px;
  }
  body {
    background-color: hsl(229, 6%, 66%);
    margin: 50px 250px;
    box-sizing: border-box;

  }
p {
  color: hsl(234, 12%, 34%);
}
h1 {
  color: hsl(234, 12%, 34%);
}
 h3 {
   color: hsl(234, 12%, 34%);
 }

.intro {
  text-align: center;
}

.card-section {
  border-radius: 5px;
  border: 1px solid black;
  /* border-top: 3px solid hsl(0, 78%, 62%); */
  display:  block;
  text-align: left;
  padding: 50px;
   color: hsl(229, 6%, 66%);
  background-color: hsl(0, 0%, 98%);
  width: 33.33%;
}
/* .cards {
  background-color: hsl(0, 0%, 98%);
} */
.cards:after{





}
#cyan {
  border-top: 2px solid hsl(180, 62%, 55%);
}

#red {

  border-top: 2px solid hsl(0, 78%, 62%);
}
#blue {
  border-top: 2px solid hsl(212, 86%, 64%);
}
#orange {
  border-top: 2px solid hsl(34, 97%, 64%);
}


footer {
clear: both;
}
